# ------ ASGI ------
fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart==0.0.6
qrcode[pil]==7.4.2
aiofiles
# ------ Telegram ------
aiogram==3.1.1
aiohttp==3.8.6
# ------ Pydantic ------
pydantic==1.10.4
